---
title: About Rui Qi
---

<div class="view view__about">
  <div class="relative slim">
    <div class="orb orb--small"></div>
    <a href="/"><svg class="icon icon-logo__dark"><use xlink:href="#logo-light"></use></svg></a>
  </div>

  <div class="relative">

    <div class="text-block">
    
      <p>I am Rui Qi, an UI and interaction designer who cares about users. I am dedicate to make unique and interesting designs which can connect to people.</p>
      <p>Born in China, now based in United States. This experience made me thinking more about the difference and fusion of different cultures and I tried to includ it into my design.</p>
      <p>I valued collaborating, it usually result better work and always are the best chance for me to learn. </p>
      <p>If you want to learn more about me, here is my resume.</p>
      <a class="btn" href="./rui-qi-cv.pdf">Download Resume</a>

    </div>

    <div class="orb orb--big"></div>

  </div>

  <svg class="icon-flower-2"><use xlink:href="#test-flower"></use></svg>

  <svg class="icon-clouds-2" xmlns="http://www.w3.org/2000/svg" viewBox="8.806 9.264 453.677 326.215" style="">
  <g fill="none" stroke="#383F26" stroke-width="2.5" stroke-miterlimit="10">
    <path d="M57.945 50.91c-11.178 0-20.253 9.074-20.253 20.252 0 11.178 9.075 20.253 20.253 20.253M121.692 212.71c11.178 0 20.253-9.074 20.253-20.252s-9.075-20.253-20.253-20.253M352.996 293.613c11.178 0 20.253-9.075 20.253-20.253s-9.076-20.253-20.254-20.253" class="FpComecZ_0"></path>
    <path d="M8.806 10.514h76.806c11.178 0 20.253 9.075 20.253 20.253S96.79 50.91 85.612 50.91H43.89c-11.18 0-20.254 9.074-20.254 20.252 0 11.178 9.075 20.253 20.253 20.253h191.683c11.178 0 20.253 9.075 20.253 20.253s-9.075 20.253-20.253 20.253M222.292 131.81H80.08c-11.18 0-20.254 9.075-20.254 20.253s9.075 20.253 20.253 20.253h57.327c11.178 0 20.253 9.075 20.253 20.253s-9.075 20.252-20.253 20.252H104.87c-11.178 0-20.253 9.075-20.253 20.253s9.186 20.142 20.253 20.142h-.11 336.22c11.178 0 20.253 9.075 20.253 20.253s-9.075 20.253-20.253 20.253H300.316c-11.178 0-20.253 9.075-20.253 20.253s9.075 20.253 20.253 20.253" class="FpComecZ_1"></path>
  </g>
  <style>.FpComecZ_0{stroke-dasharray:191 193;stroke-dashoffset:192;animation:FpComecZ_draw 2400ms linear 1600ms forwards;}.FpComecZ_1{stroke-dasharray:1529 1531;stroke-dashoffset:1530;animation:FpComecZ_draw 2600ms linear 1400ms forwards;}@keyframes FpComecZ_draw{100%{stroke-dashoffset:0;}}@keyframes FpComecZ_fade{0%{stroke-opacity:1;}94.44444444444444%{stroke-opacity:1;}100%{stroke-opacity:0;}}</style></svg>


</div>

<a href="/portfolio" class="next"><svg><use xlink:href="#icon-next"></use></svg></a>