---
title: Contact Rui Qi
---

<div class="view view__contact">
  <a href="/"><svg class="icon icon-logo__dark"><use xlink:href="#logo-light"></use></svg></a>
  <div class="orb orb--big"></div>
  <!-- <svg class="icon-clouds-contact"><use xlink:href="#icon-clouds-animated"></use></svg> -->
  
  <svg class="icon-clouds-contact" xmlns="http://www.w3.org/2000/svg" viewBox="8.806 9.264 453.677 326.215" style="">
    <g fill="none" stroke="#383F26" stroke-width="2.5" stroke-miterlimit="10">
      <path d="M57.945 50.91c-11.178 0-20.253 9.074-20.253 20.252 0 11.178 9.075 20.253 20.253 20.253M121.692 212.71c11.178 0 20.253-9.074 20.253-20.252s-9.075-20.253-20.253-20.253M352.996 293.613c11.178 0 20.253-9.075 20.253-20.253s-9.076-20.253-20.254-20.253" class="ynKIpNOr_0"></path>
      <path d="M8.806 10.514h76.806c11.178 0 20.253 9.075 20.253 20.253S96.79 50.91 85.612 50.91H43.89c-11.18 0-20.254 9.074-20.254 20.252 0 11.178 9.075 20.253 20.253 20.253h191.683c11.178 0 20.253 9.075 20.253 20.253s-9.075 20.253-20.253 20.253M222.292 131.81H80.08c-11.18 0-20.254 9.075-20.254 20.253s9.075 20.253 20.253 20.253h57.327c11.178 0 20.253 9.075 20.253 20.253s-9.075 20.252-20.253 20.252H104.87c-11.178 0-20.253 9.075-20.253 20.253s9.186 20.142 20.253 20.142h-.11 336.22c11.178 0 20.253 9.075 20.253 20.253s-9.075 20.253-20.253 20.253H300.316c-11.178 0-20.253 9.075-20.253 20.253s9.075 20.253 20.253 20.253" class="ynKIpNOr_1"></path>
    </g>
  <style>.ynKIpNOr_0{stroke-dasharray:191 193;stroke-dashoffset:192;animation:ynKIpNOr_draw 2000ms linear 0ms forwards;}.ynKIpNOr_1{stroke-dasharray:1529 1531;stroke-dashoffset:1530;animation:ynKIpNOr_draw 2000ms linear 1000ms forwards;}@keyframes ynKIpNOr_draw{100%{stroke-dashoffset:0;}}@keyframes ynKIpNOr_fade{0%{stroke-opacity:1;}94.44444444444444%{stroke-opacity:1;}100%{stroke-opacity:0;}}</style></svg>


  <svg class="icon-parrot"><use xlink:href="#icon-parrot"></use></svg>

  <div class="relative">

    <div class="text-block">
      <a class="email" href="mailto:qiruin@gmail.com">qiruin@gmail.com</a>
      <a class="social" href="http://twitter.com"><svg class="icon-twitter"><use xlink:href="#icon-twitter"></use></svg></a>
      <a class="social" href="http://dribbble.com"><svg class="icon-dribbble"><use xlink:href="#icon-dribbble"></use></svg></a>
    </div>

  </div>

  <div class="orb orb--small"></div>
  <svg class="icon-sofa"><use xlink:href="#icon-sofa"></use></svg>
</div>