---
title: Rui Qui - Visual Designer
---

<div class="view view__home">

  <!-- <svg class="icon icon-clouds"><use xlink:href="#icon-clouds"></use></svg> -->
  <!-- <svg class="icon icon-clouds"><use xlink:href="#icon-clouds-animated"></use></svg> -->

  <svg class="icon icon-clouds" xmlns="http://www.w3.org/2000/svg" viewBox="8.177 26.001 472.257 277.606" style="">
    <g fill="none" stroke="#383F26" stroke-width="2.5" stroke-miterlimit="10">
      <path d="M228.73 145.138c-10.834 0-19.61-8.777-19.61-19.612 0-10.835 8.776-19.612 19.61-19.612M231.223 66.582c10.835 0 19.612 8.777 19.612 19.612s-8.777 19.612-19.612 19.612M220.93 223.8c-10.835 0-19.612-8.776-19.612-19.61 0-10.836 8.777-19.613 19.612-19.613M243.684 273.427h-108.46" class="ivQIlIRw_0"></path>
      <path d="M79.747 27.25c-10.835 0-19.612 8.778-19.612 19.613s8.777 19.612 19.612 19.612h164.37-.325c10.835 0 19.612 8.777 19.612 19.612s-8.777 19.72-19.612 19.72h.325-17.336M480.433 302.357H332.858c-10.835 0-19.612-8.777-19.612-19.612 0-10.835 8.777-19.612 19.612-19.612h81.156c10.835 0 19.612-8.777 19.612-19.612 0-10.834-8.777-19.61-19.612-19.61M235.45 144.92h87.548-1.3c10.835 0 19.612 8.778 19.612 19.613 0 10.835-8.777 19.612-19.612 19.612l-116.154.325c-10.835 0-19.612 8.777-19.612 19.612s8.777 19.612 19.612 19.612h199.368M44.316 194.763c-10.835 0-19.612-8.777-19.612-19.612 0-10.834 8.777-19.61 19.612-19.61" class="ivQIlIRw_1"></path>
      <path d="M110.086 155.54H29.038c-10.835 0-19.612 8.777-19.612 19.612 0 10.835 8.777 19.612 19.612 19.612H125.254c10.835 0 19.612 8.777 19.612 19.612 0 10.835-8.777 19.612-19.612 19.612h-.108c-10.835 0-19.612 8.777-19.612 19.612 0 10.835 8.777 19.612 19.612 19.612" class="ivQIlIRw_2"></path>
    </g>
  <style>.ivQIlIRw_0{stroke-dasharray:294 296;stroke-dashoffset:295;animation:ivQIlIRw_draw 1600ms ease 0ms forwards;}.ivQIlIRw_1{stroke-dasharray:1247 1249;stroke-dashoffset:1248;animation:ivQIlIRw_draw 1600ms ease 400ms forwards;}.ivQIlIRw_2{stroke-dasharray:363 365;stroke-dashoffset:364;animation:ivQIlIRw_draw 1600ms ease 800ms forwards;}@keyframes ivQIlIRw_draw{100%{stroke-dashoffset:0;}}@keyframes ivQIlIRw_fade{0%{stroke-opacity:1;}93.93939393939394%{stroke-opacity:1;}100%{stroke-opacity:0;}}</style></svg>


  <div class="center orb-context">

    <div class="orb orb--big"></div>

  </div>

  <div class="dillon">
    <a href="/"><svg class="icon icon-logo"><use xlink:href="#logo-light"></use></svg></a>
    <div class="slide-in">
      <span class="row1">Deliver a simple but</span>
      <span class="row2">engaging visual experience</span>
    </div>
  </div>

  <svg class="icon icon-flower"><use xlink:href="#icon-flower"></use></svg>

</div>

<a href="/about" class="next"><svg><use xlink:href="#icon-next"></use></svg></a>